/* kenzo */
#fondk{
  background: #c5c5c5;
}
#titreK{
    color: #b05702;
}
/* kenzo */
/* carousel */
.carousel-inner{
  text-align: center;
  margin-top: 5.5%;
}
#northface, #saintlaurent{
  width: 15%;
  height: 15%;
}
#kenzo{
  width: 30%;
  height: 30%;
}
/* articles */
#fond{
  background: #c5c5c5;
}
#parka, #pull, #sac{
  width: 85%;
  height: 65%;
}
#titre-section{
  text-align: center;
  margin-top: -35px;
  color:  #b05702;
}
/* footer */
footer{
  text-align: center;
  line-height: 20px;
}
#visa, #mastercard, #paypal, #bitcoin{
  margin-right: 55px;
  width: 4%;
  height: 40%;
}
h2{
  text-align: center;
}
#T{
  color:  #b05702 ;
}
#couleur{
  background: #c5c5c5;
}
.couleur1{
  background: #000101;
}
