/* carousel */
.carousel-inner{
  text-align: center;
}
#northface, #saintlaurent{
  width: 15%;
  height: 15%;
}
#kenzo{
  width: 30%;
  height: 30%;
}
/* articles */
#parka, #pull, #sac{
  width: 85%;
  height: 65%;
}
h2{
  text-align: center;
  margin-top: -35px;
}
/* footer */
footer{
  text-align: center;
}
